<% include ../partials/header.ejs %>

<h1>Cadastro Pessoa</h1>
<p><a href="/pessoas" type="button" class="btn btn-default">Voltar a lista de pessoas</a></p>
    <form method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço">
        </div>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
        </div>
        <div class="form-group">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP">
        </div>
        <div class="form-group">
            <label for="uf">UF</label>
            <input type="text" class="form-control" id="uf" name="uf" placeholder="UF">
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF">
        </div>
        <div class="form-group">
            <label for="ie">Inscriçao Estadual</label>
            <input type="text" class="form-control" id="ie" name="ie" placeholder="Incrisçao Estadual">
        </div>
        <button type="submit" class="btn btn-default">Salvar</button>
    </form>

<% include ../partials/footer.ejs %>