<% include ../partials/header.ejs %>

<h1>Lista Pessoas</h1>
<p><a href="/pessoas/create" type="button" class="btn btn-default">Nova Pessoa</a></p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    <% results.data.map( pessoa => { %>
    <tr>
        <td><%= pessoa.nomecliente %></td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-default" href="/pessoas/update<%= pessoa.codcliente %>">Editar</a>
                <a type="button" class="btn btn-default" href="/pessoas/delete/<%= pessoa.codcliente %>" onclick="return confirm('Deseja realmente excluir')">Excluir</a>
            </div>
        </td>
    </tr>
    <% }) %>
</table>

Mostrar: <a href="/pessoas?pageSize=10">10</a> <a href="/pessoas?pageSize=50">50</a> <a href="/pessoas?pageSize=100">100</a> <a href="/pessoas?pageSize=200">200</a>
<p>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <% if(results.pagination.currentPage>0) { %>
        <li class="page-item"><a class="page-link" href="/pessoas?page=<%= (results.pagination.currentPage-1)%>&pageSize=<%=results.pagination.pageSize %>">Previous</a></li>
    <% } %>
    <% for(let i=0; i<results.pagination.pages; i++) { %> 
        <li class="page-item<% if(i==results.pagination.currentPage){ %> active  <% } %>"><a class="page-link" href="/pessoas?page=<%= i %>&pageSize=<%=results.pagination.pageSize %>"><%= (i+1) %></a></li>
    <% } %>
    <% if(results.pagination.currentPage < results.pagination.pages - 1)  {%>
        <li class="page-item"><a class="page-link" href="/pessoas?page=<%=(results.pagination.currentPage+1)%>&pageSize=<%=results.pagination.pageSize %>">Next</a></li>
    <% } %>
  </ul>
</nav>
</p>
<% include ../partials/footer.ejs %>